*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.2px;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    /* background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%); */
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 3.3rem;
    padding: 0.59rem 1rem;
    /* box-shadow: 0 4px 8px 0 #0s0FFFF,0 6px 20px 0 rgba(0,0,0,0.19); */
}
.nav-item ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-item a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}
.nav-item li:hover{
    color: orange;
}
ul:hover li a:not(:hover){
    color: #fff;
    opacity: 0.25;
    filter: blur(1px);
}
.active{
    background-color: #777;
    border-radius: 5px;
    padding: 5px;
    color: aqua;
}
.active:hover{
    color:#fff;
}