.StudentPage{
    padding: 2%;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0.59rem 1rem;
}
.top ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
.top ul li h3{
    font-size: 1.3rem;
}
.top ul li button{
    position: absolute;
    right: 3rem;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.2px;
    border-radius: 7px;
    padding: 6px;
    border: 2px solid transparent;
    cursor: pointer;
}
.top ul li button:hover{
    background-color: green;
}
.student-data{
    position: relative;
    top: 4rem;
}
.data-table{
    position: absolute;
    right: 5rem;
}
table{
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    border-radius: 3px;
    background-color: lightgoldenrodyellow;
}
th,td{
    padding: 0.6rem 4.4rem;
    text-align: center;
    background-color: silver;
    border-radius: 6px;
}
td{
    font-size: 12px;
    color: black;
}
tr:nth-child(even){
    background-color: #9edfd9;
}